@import "variables";

*{
    margin:0;
    border: 0;
    padding: 0;
}

body{
    font-family: @font;
}

.overlay{
    width: 100%;
    background-image: url("../img/banner-bg-withoverlay.png");
    background-position: 100%;
    .row {
        .col-5{
            margin: 6% auto 8%;
            min-width: 300px;
            .col-6{
                margin: 5% auto;
            }
        }
    }
}


.navbar{
    height: @height;
    background-color: @color-accent;
    width: 100%;
    ul {
        color: @color-text;
        li {
            .text-links();
            span{
                color: @color-text-accent;
                text-transform: uppercase;
            }
        }
    }

}

.first-text{
    .row{
        padding: 3% 0;
        .col-8{
            H2{
                .heading();
                span{
                     color: @color-text-accent;
                     text-transform: uppercase;
                }
            }

            p {
                .text();
            }
        }

        .col-3{
            height: 100%;
        }

    }
}



.second-text{
    background-color: @color-primary;
    .container{
        .row{
            padding: 3% 0;
            
            .col-2{
                height: 100%;
            }

            .col-7{
                H2{
                    .heading();
                    span{
                        color: @color-text-accent;
                        text-transform: uppercase;
                    }
                }

                p {
                    .text();
                }
            }
        }

    }
}

.yellowline{
    background-color: @color-accent;
    height: 10px;
}

footer {
    background-color: @color-text;
    height: 150px;
    .footer-logo{
        margin: 1% auto;
    }
}
