@color-primary: #F3f3F3;
@color-accent: #F8DF1F;
@color-text: #080801;
@color-text-accent: #EE252F;

@height: 100px;

@font: 'Roboto', sans-serif;

@Heading-span-font: 'Roboto', sans-serif;
@Heading-font-size: 30px;
@Heading-font-weight: 500;